#usuarios{
  display: flex;
  justify-content: center;
/*  align-items: center;*/
  padding-top: 5%;
/*  height: 100vh;*/
}
.botão-usuario{
  color: white;
  font-weight: bold;
  background-color: #5A0A00;
  padding: .2em .5em;
  margin: .3em;
  border-radius: 15px;
  border-style: ridge;
  border-color: #ffffff70;
  cursor: pointer;
}
#usuarios .row{
  text-align: center;
}
