*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  user-select: none;
  background-color: #EFECE7;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  backdrop-filter: blur(2px);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  z-index: 10000;
  display: none;
  border-radius: 5px;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
  margin: .5em .2em;
}

.popup-overlay.active,
.popup.active {
  display: block;
}

.container{
  border: 4px solid #13265F;
  width: 470px;
  margin: auto;
/*  background-color: #9C5740;*/
}
.table_titulo{
  background-color: #13265F;
  background: #07153e;
  background: linear-gradient(0deg, #112352 0%, #152b61 100%);
/*      #162553*/
/*      display: inline;*/
      width: 100%;
  color: #fff;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

  padding-top: .1em;
  padding-bottom: .1em;
  text-align: center;
  margin: auto;
  font-size: 1.8em;
  font-family: serif;
  font-weight: bold;
  border: 1px solid black;
/*      cursor: pointer;*/
}
.subtitulo{
  background-color: #13265F;
  width: 100%;
  color: #fff;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  padding-top: .1em;
  padding-bottom: .1em;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  font-size: 1em;
  font-family: serif;
  font-weight: bold;
  cursor: pointer;
}

.row:not(:first-child){
  padding: .3em;
}
.col{
  display: inline-block;
  text-align: center;
}
.texto-menor{
  color: white;
  font-size: .9em;
  font-weight: bold;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.texto-maior{
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
hr{
  height: 2px;
  margin: 0 2px;
  color: #333;
  background-color: #333;
}
.proficiencia_radio{
  text-align: center;
}
.proficiencia_radio table{
  border-collapse: collapse;
  display: inline;
}
.proficiencia_radio table td{
  padding: 0 .1em;
}
.proficiencia_radio table *{
  padding-top: 0;
}
.proficiencia_radio span{
  font-size: .8em;
  margin: 0;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

}
.proficiencia_radio [type='radio']{
  margin: 0;
/*  width: 1em;*/
/*  height: 1em;*/
}
select{
  font-size: 1.4em;
  border-radius: 5px;
  border-width: 2px;
  border-color: #5A0A00;
  border-style: flat;
  color: #000;
  text-align: center;
  background-color: #fff;
}
input{
  font-size: 1.5em;
  border-radius: 5px;
  background-color: #fff;
/*  border-color: #5A0A00;*/
  border-style: flat;
  color: #000;
  text-align: center;
}
#help_atributos input[type="checkbox"]{
  height: 1.5em;
  width: 1.5em;
  background-color: red;
  border-radius: 15px;
}
input[type="number"]{
  width: 2em;
}
label{
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
/*  text-shadow: 2px 0 #5A0A00, -2px 0 #5A0A00, 0 2px #5A0A00, 0 -2px #5A0A00, 1px 1px #5A0A00, -1px -1px #5A0A00, 1px -1px #5A0A00, -1px 1px #5A0A00;*/
  font-size: 1.3em;
  font-weight: bold;
}


#editar_visualizar .row{
  text-align: center;
}
#editar_visualizar .col{
  cursor: pointer;
  width: 100%;
}
.col.table_titulo.editar {
  background: linear-gradient(0deg, #420700 0%, #5a0a00 100%);
}
.col.table_titulo.visualizar {
  background: linear-gradient(0deg, #112352 0%, #152b61 100%);
}
/*      GERAL     */

#geral {
  text-align: center;
}
#token_image{
  display: none;
}
[name="TENDENCIA"]{
  user-select: none;
  width: 2em;
}
[name="TENDENCIA"][type="text"]{
  display: none;
}
#tendência table, #tendência tr, #tendência td{
  border: 2px ridge; #fff;
  background-color: #5A0A00;
}
#tendência table{
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  color: white;
  font-weight: bold;
}
#tendência td{
  width: 33%;
  padding: .5em;
}
#tendência tr{
  height: 3em;
}
[name="MaxHP"]{
  margin: 0 1.9em;
}
/*[name="NPC_PC"][value="PC"]+span{
  margin-right: 2em;
}*/
.col:has([name="VELOCIDADE"]){
  margin-bottom: 1em;
}
input[type="number"][name="VELOCIDADE"]{
  width: 2.5em;
}

/*      PERCEPÃO     */

#percepção .row{
  display: flex;
  justify-content: space-around;
}

#percepção .row{
  margin-top: 1em;
}

/*      JOGADAS DE SALVAMENTO     */

#salvamentos{
  text-align: center;
}

#salvamentos .row:has([name="FORTITUDE"]){
  margin-top: 1em;
}

#salvamentos .row{
  display: flex;
  justify-content: space-around;
}
/*      CD DE CLASSE     */

#CD_classe .row{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

/*      CRIAÇÃO ATRIBUTOS     */

#help_atributos .row{
  display: flex;
  justify-content: space-around;
/*  margin-top: 1em;*/
}

#help_atributos .aumento{
  color: lightgreen;
  text-shadow: 2px 0 #005a0e, -2px 0 #005a0e, 0 2px #005a0e, 0 -2px #005a0e, 1px 1px #005a0e, -1px -1px #005a0e, 1px -1px #005a0e, -1px 1px #005a0e;
}
#help_atributos .penalidade{
  color: orangered;
  text-shadow: 2px 0 #5A0A00, -2px 0 #5A0A00, 0 2px #5A0A00, 0 -2px #5A0A00, 1px 1px #5A0A00, -1px -1px #5A0A00, 1px -1px #5A0A00, -1px 1px #5A0A00;
}
#help_atributos .row:has(.aumento)+.row input{
  outline: 2px double lightgreen;
}
#help_atributos .row:has(.penalidade)+.row input{
  outline: 2px double orangered;
}

/*      ATRIBUTOS     */

#atributos .row{
  display: flex;
  justify-content: center;
/*  margin-top: 1em;*/
}
#atributos .col:not(.table_titulo){
  width: 33%;
}
#atributos .row:has([name="FOR"]){
  margin-top: 1em;
}

#atributos label{
  font-size: 1.5em;
}
/*.col:has([onchange="update_modificador_atributo()"]){display: none;}*/
/*      PERICIAS     */

#pericias{
  text-align: center;
}
.hide{
  font: inherit;
  margin: 0;
  padding: 0;
}
#pericias .row:has([type="radio"]){
  text-align: left;
  display: flex;
/*  justify-content: space-around;*/
}
#pericias .row:has([type="radio"]) .col{
  margin: 0 1em;
/*  justify-content: space-around;*/
}
#pericias .row:has([name="pericias_penalidade_armadura"]){
  margin: .5em 0;
}
#pericias .row:has(label){
  padding-top: .5em;
/*  border-top: 2px solid #5A0A00;*/
}
#pericias label{
  font-size: 1.5em;
  font-weight: bold;
}
#pericias [type="text"]{
  margin-left: .2em;
  min-width: 3em;
  width: 3em;
  background-color: transparent;
  border: 0;
/*  border-bottom: 2px solid #5A0A00;*/
  border-radius: 0;
  color: white;
  text-align: left;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
/*  text-shadow: 2px 0 #5A0A00, -2px 0 #5A0A00, 0 2px #5A0A00, 0 -2px #5A0A00, 1px 1px #5A0A00, -1px -1px #5A0A00, 1px -1px #5A0A00, -1px 1px #5A0A00;*/
  font-weight: bold;

}

/*      CA       */

#CA .row{
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}

#armaduras .row{
/*  border-top: 2px solid #5A0A00;*/
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
}

/*      ESCUDO       */

#escudo .row{
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
}

/*      HABILIDADES TALENTOS       */

#habilidades_talentos .row:has(#adicionar_habilidade){
  text-align: center;
  margin: 1em;
}
#habilidades_talentos .row:has([name="nome"]){
/*  border-top: 2px solid #5A0A00;*/
  padding-top: 1em;
}
#habilidades_talentos .row{
  display: flex;
  justify-content: space-around;
}
#habilidades_talentos [name="nome"]{
  width: 5.5em;
  text-align: left;
}
#habilidades_talentos #adicionar_habilidade{
  background-color: #5A0A00;
  padding: .5em;
  border-radius: 15px;
  border-style: ridge;
  border-color: #ffffff70;
  cursor: pointer;
}
.row:has([value="remover"]){
  display: flex;
  justify-content: space-around;

}
.col:has(textarea){
  width: 100%;
}
textarea{
  width: 100%;
  border-radius: 5px;
  font-size: 1.3em;
}
[value="editar"], [value="salvar"], [value="chat"]{
  font-size: 1em;
  padding: .1em;
  background-color: #13265F;
  color: #fff;
  font-weight: bold;
  border-color: #13265F;
  cursor: pointer;
}

[value="remover"]{
  font-size: 1em;
  padding: .1em;
  background-color: #5A0A00;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.mostrar{
  border: 2px solid #00000060;
  border-radius: 4px;
  margin: .5em 2px;
  justify-content: space-between;
/*  padding: .5em;*/
}
.mostrar .row:has(label), .mostrar label{
  cursor: pointer;
}
.row[class*="talento"], .row[class*="habilidade"]{
  display: flex;
  justify-content: space-between;
  padding: .5em;
}
.habilidade .mostrar {
  background-color: #00000060;
}

/*ARRUMAR ACIONAMENTO*/

.mostrar:has(.row.talento-de-perícia){
  background-color: #00000042;
}
.mostrar:has(.row.talento-geral){
  background-color: #00000042;
}
.mostrar:has(.row.talento-de-classe){
  background-color: #00000080;
}
.mostrar:has(.row.habilidade-de-ancestralidade){
  background-color: #00000060;
}
.mostrar:has(.row.habilidade-de-classe){
  background-color: #00000080;
}
.descrição .col:has(.area-descrição){
  width: 100%;
}
.descrição .area-descrição{
  margin: auto;
  width: 95%;
  text-align: left;
  max-height: 10em;
  overflow-y: auto;
  color: #fff;
}
.descrição .row:first-child{
  padding-top: 1em;
}

/*      AÇÕES       */
#ações .row:has([value="editar"]){
  display: flex;
  justify-content: space-around;
}

.row[class*="ação"], .row[class*="livre"], .row[class*="reação"]{
  display: flex;
  justify-content: space-between;
  padding: .5em;
}
.mostrar:has(.row[class*="ação"]){
  background-color: #ffffff60;
}
.mostrar:has(.row[class*="livre"]){
  background-color: #ffffff60;
}
.mostrar:has(.row[class*="reação"]){
  background-color: #ffffff60;
}

#ações .row:has(#adicionar_ação){
  text-align: center;
  margin: 1em;
}
#ações .row:has([name*="NOME"]){
/*  border-top: 2px solid #5A0A00;*/
  padding-top: 1em;
  padding-left: .2em;
}
#ações .ação-icon{
  height: 30px;
}
#ações .area-descrição{
  color: black;
}
#ações [name*="NOME"]{
  margin-right: 1em;
  text-align: left;
}
#ações [name*="PAGINA"]{
  width: 3em;
}
#ações [name*="TRACOS"]{
  margin-right: 1em;
  text-align: left;
}
#ações .col:has([name*="REQUERIMENTO"]){
  width: 100%;
}
#ações .col:has([name*="ACIONAMENTO"]){
  width: 100%;
}
#ações [name*="REQUERIMENTO"], #ações [name*="ACIONAMENTO"]{
  height: 1.4em;
  width: 100%;
  font-size: 1.2em;
  text-align: left;
}
#ações .requerimentos{
  text-align: left;
  margin-left: .8em;
}
#ações .acionamento{
  text-align: left;
  margin-left: 0.8em;
}
#ações .acionamento .col{
  width: 100%;
}
#ações .acionamento input{
  width: 99%;
}
#ações #adicionar_ação{
  background-color: #5A0A00;
  padding: .5em;
  border-radius: 15px;
  border-style: ridge;
  border-color: #ffffff70;
  cursor: pointer;
}

/*Ataques*/

#ataques .row:has(#adicionar_ataque){
  text-align: center;
  margin: 1em;
}

#ataques #adicionar_ataque{
  background-color: #5A0A00;
  padding: .5em;
  border-radius: 15px;
  border-style: ridge;
  border-color: #ffffff70;
  cursor: pointer;
}


#ataques .ataque-nome{
  width: 7.1em;
}
#ataques .row:has(.ataque-tipo){
  text-align: center;
}
#ataques .row:has([onclick*="adicionar_dano"]){
  display: flex;
  justify-content: space-between;
  margin: 0 .1em;
}
#ataques [onclick="adicionar_dano()"]{
  margin-right: 1em;
}
#ataques .row:has([onclick*="remover_dano"]){
  margin-right: 1em;
  text-align: right;
}
#ataques .dano{
  background-color: #00000060;
  border: 2px solid #00000060;
  padding: .5em 0;
  margin: .4em 0;
}
.ataque-tipo{
  width: 7em;
}
.ataque-traços{
  width: 19em;
}
#ataques .editar>.row:first-child{
/*  border-top: 2px solid #5A0A00;*/
  padding-top: 1em;
  margin-top: 1em;
}
#ataques .multiplos-ataques{
  text-align: center;
}
#ataques .multiplos-ataques .col{
  text-align: center;
  margin-left: 1em;
}
#ataques .multiplos-ataques input{
  width: 2.5em;
  text-align: center;
}
/*.mostrar:has(.row[class*="ataque"]){
  background-color: #ffffff60;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}*/
#ataques .area-descrição{
  color: black;
}
#ataques .row:has([value="editar"]){
  display: flex;
  justify-content: space-around;
}
#ataques .traço{
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #5A0A00;
  border: 1px solid #d9c381;
  padding: 0 .5em;
}
#ataques .traço:not(:first-child){
  margin: 0 .5em;
}
#ataques .traço-menor{
  text-transform: uppercase;
  font-size: .7em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  background-color: #5A0A00;
  border: 1px solid #d9c381;
  padding: 0 .5em;
  text-shadow: 0 0 0;
}
#ataques .traço-menor:not(:first-child){
  margin: 0 .5em;
}
#ataques .dano-tipo{
/*  margin: 0 .5em;*/
  color: #97feff;
}
.tab{
  text-indent: 1em;
}
.row[class*="ataque"]{
  display: flex;
  justify-content: space-between;
  padding: .5em;
}
.mostrar:has(.row[class*="ataque"]){
  background-color: #ffffff60;
}

/* INVENTARIO */


#inventario #adicionar_item{
  background-color: #5A0A00;
  padding: .5em;
  border-radius: 15px;
  border-style: ridge;
  border-color: #ffffff70;
  cursor: pointer;
}

#inventario .row:has(#adicionar_item){
  text-align: center;
  margin: 1em;
}
#inventario [name*="_VOLUME"]{
  width: 2em;
}
#inventario [name*="_NOME"]{
  margin-left: .2em;
  width: 9.5em;
}
#inventario .editar{
/*  border-top: 2px solid #5A0A00;*/
  padding: 1em 0;

}
#inventario .col:has(.item-nome){
  vertical-align: middle;
}
#inventario .row:has(.item-nome){
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#inventario .row:has([value="editar"]){
  display: flex;
  justify-content: space-around;
}
#inventario .mostrar{
  background-color: #ffffff60;
}
#inventario .area-descrição{
  color: #000;
}
.volume{
  margin-left: 1em;
  margin-right: 1em;
}
.PC{
  color: #C85230;
}
.PP{
  color: silver;
}
.PO{
  color: gold;
}
.PL{
  color: #726b67;
}
.container.visualizar{
  border: none;
  margin-top: 2em;
}
.container.visualizar strong{
/*  font-weight: ;*/
}
.container.visualizar .traços{
  color: #fff;
  background-color: #5A0A00;
  font-weight: bold;
  font-size: .8em;
  border: 3px solid #E4D6B0;
  margin-top: 5px;
  padding: 0 2px;
}
.visualizar{
  font-family: 'Open Sans';
}
.visualizar .row{
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.nome-nivel{
  display: flex;
  justify-content: space-between;
}